<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>OwnerServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.OwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerServlet</servlet-name>
    <url-pattern>/servlet/OwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChackCode</servlet-name>
    <servlet-class>com.anjuwang.servlet.ChackCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChackCode</servlet-name>
    <url-pattern>/servlet/ChackCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/servlet/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyManagerServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.CompanyManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyManagerServlet</servlet-name>
    <url-pattern>/servlet/CompanyManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.LoginUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/servlet/LoginUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/servlet/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.CompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.SendMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendOrderServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.SendOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendCommentServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.SendCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadImgServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.UploadImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadImgRateServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.UploadImgRateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadOwnerHandServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.UploadOwnerHandServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.anjuwang.servlet.ChangePasswordServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/servlet/CompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/servlet/SendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendOrderServlet</servlet-name>
    <url-pattern>/servlet/SendOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendCommentServlet</servlet-name>
    <url-pattern>/servlet/SendCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImgServlet</servlet-name>
    <url-pattern>/servlet/UploadImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImgRateServlet</servlet-name>
    <url-pattern>/servlet/UploadImgRateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadOwnerHandServlet</servlet-name>
    <url-pattern>/servlet/UploadOwnerHandServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/servlet/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>com.anjuwang.filter.CharacterFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.anjuwang.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/servlet/LoginUIServlet</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>
</web-app>